@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-style:normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 1.2;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;

}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

div#test {
    text-align: center;
    position: absolute;
    top: 0;
    opacity: 0.5;
}

/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}


.wrap {
    overflow: hidden;
}

.header_wrap {
    background-image: url(images/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
}

.header_container {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.header_logo {
    height: 60px;
}

.header_nav ul {
    display: flex;
}

.header_nav ul li {
    list-style: none;
    margin: 0 30px;
}

.header_nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.header_icon {
    display: none;
}

.header_main_text {
    font-size: 48px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}

/* info */

.info {
    max-width: 1100px;
    margin: 0 auto;
    padding: 90px 0;
}

.info_title {
    text-align: center;
    font-size: 38px;
    margin-bottom: 60px;
}

.info_list {
    margin: 0 auto; 
    max-width: 700px;
}

.info_list li {
    padding: 30px 0;
    border-bottom: 1px solid #000;
}

.info_list li a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.info_border {
    border: 1px solid black;
    font-size: 11px;
    margin: 0 30px;
    padding: 5px 8px;
}

/* exapmle */

.example {
    padding: 90px;
    max-width: 1100px;
    margin: 0 auto;
}

.example_title {
    text-align: center;
    font-size: 38px;
    margin-bottom: 90px;
}

.example_list {
    display: flex;
    text-align: center;
}

.example_m_house {
    padding-right: 25px;
}

.example_phot img {
    width: 100%;
}

.example_name {
    font-size: 24px;
    margin-top: 30px;
}

.example_place {
    font-size: 14px;
    margin-top: 15px;
}

.example_details a img {
    width: 300px;
}

.example_skybill {
    padding-left: 25px;
}

.example_btn {
    text-align: center;
    margin-top: 80px;
}

.example_btn a {
    text-decoration: none;
    border: 1px solid black;
    font-size: 20px;
    color: black;
    padding: 12px 40px;
}
/* sub */

.sub {
    display: flex;
    padding-top: 90px;
}

.sub_img {
    display: block;
    width: calc(100%/3);
}

.sub_img img {
    width: 100%;
}

/* footer */

.footer {
    background-color: black;
}

.footer_wrap {
    max-width: 1100px;
    margin: 0 auto;
}

.footer_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 60px;
}

.footer_logo {
    height: 40px;
}

.footer_nav_list ul {
    display: flex;
}

.footer_nav ul li {
    margin: 0 30px;
}

.footer_nav_list a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.copyright {
    color: white;
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .header-wrap {
    height: 50vh;
  }
}  